parameters:
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
      - '#Cannot access offset#'
      - '#Method LaravelQless\\Queue\\QlessQueue::makePayload\(\) should return string but returns string|false.#'
